<div class="filter-card-wrapper">
  <mat-card class="daxa-card vente-card border-radius bg-white border-none p-3 w-100">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row g-2">

          <mat-form-field appearance="outline" class="full-width" *ngIf="showClient">
  <input type="text"
         matInput
         placeholder="Rechercher un client"
         [formControl]="clientCtrl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClientSelected($event.option.value)">
    <mat-option *ngFor="let client of filteredClients | async" [value]="client.name">
      {{ client.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
          <div class="col-md-6 mb-2 mb-md-3 mt-10" *ngIf="showExtendedDates">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Début Période</mat-label>
              <input formControlName="dateDebut2" matInput [matDatepicker]="pickerPeriodeDebut" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerPeriodeDebut"></mat-datepicker-toggle>
              <mat-datepicker #pickerPeriodeDebut></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-2 mb-md-3 mt-10" *ngIf="showExtendedDates">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fin Période</mat-label>
              <input formControlName="dateFin2" matInput [matDatepicker]="pickerPeriodeFin" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerPeriodeFin"></mat-datepicker-toggle>
              <mat-datepicker #pickerPeriodeFin></mat-datepicker>
            </mat-form-field>
          </div>

         
          <div class="col-md-6 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Début Période</mat-label>
              <input formControlName="dateDebut" matInput [matDatepicker]="pickerStart" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fin Période</mat-label>
              <input formControlName="dateFin" matInput [matDatepicker]="pickerEnd" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>
 
         
          <div class="col-12 d-flex justify-content-between align-items-center mt-10">
      
                
            <div class="d-flex flex-column gap-3">

        
              <div class="d-flex align-items-center gap-2">
                <mat-icon class="me-1">settings</mat-icon>
                <mat-checkbox formControlName="dateFacture">Date Facture</mat-checkbox>
                <mat-checkbox formControlName="dateBL">Date BL</mat-checkbox>
                <mat-checkbox formControlName="inclureBLs">Inclure BLs</mat-checkbox>
              </div>
        
            
              <div class="d-flex align-items-center gap-2" *ngIf="showExtendedValues">
                <mat-icon class="me-1">build</mat-icon>
                <mat-checkbox formControlName="HT">HT</mat-checkbox>
                <mat-checkbox formControlName="TTC">TTC</mat-checkbox>
              </div>

            
              <div class="d-flex align-items-center gap-2" *ngIf="showGroupBy">
                <mat-icon class="me-1">calendar_view_week</mat-icon>
                <mat-checkbox
                  [checked]="form.get('groupBy')?.value === 'jour'"
                  (change)="form.get('groupBy')?.setValue('jour')"
                >Jour</mat-checkbox>
                <mat-checkbox
                  [checked]="form.get('groupBy')?.value === 'semaine'"
                  (change)="form.get('groupBy')?.setValue('semaine')"
                >Semaine</mat-checkbox>
                <mat-checkbox
                  [checked]="form.get('groupBy')?.value === 'mois'"
                  (change)="form.get('groupBy')?.setValue('mois')"
                >Mois</mat-checkbox>
              </div>

            </div>

       
            <button mat-flat-button color="daxaColor" type="submit" class="ms-3">
              <mat-icon class="me-1">filter_alt</mat-icon> Filtrer
            </button>

          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
