<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Chiffre d'affaires Par Article</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i> Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Vente</li>
        <li class="breadcrumb-item position-relative">CA par Article</li>
    </ol>
</div>
<div class="d-flex flex-column gap-4 w-100">

  <app-vente-filter (filtrer)="loadCA($event)" [defaultGroupBy]="'article'"></app-vente-filter>

  <!-- Card Chart Full Width -->
  <mat-card class="daxa-card vente-card border-radius bg-white border-none w-100">
    <mat-card-content>

      <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center p-5">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="40"></mat-progress-spinner>
      </div>

     
                <div *ngIf="!isLoading" class="chart-container w-100">
                      <div class="scrollable-chart">
                   
                            <div class="chart-wrapper">
                                <app-pie-donut-chart *ngIf="CAGlobal?.length > 0"
                                    [data]="CAGlobal">
                                </app-pie-donut-chart>
                            </div>
                       
</div>
</div>
    </mat-card-content>
  </mat-card>

  <!-- Card Table Full Width -->
  <mat-card class="daxa-card vente-card border-radius bg-white border-none w-100">
    <mat-card-header>
      <mat-card-title>
        <form class="search-box position-relative">
          <i class="material-symbols-outlined">search</i>
          <input
            type="text"
            class="input-search d-block w-100 border-none outline-0"
            placeholder="Rechercher article..."
            (keyup)="applyFilter($event)"
            #input
          />
        </form>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="w-100">

          <!-- Label Column -->
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Article</th>
            <td mat-cell *matCellDef="let CAGlobal">{{ CAGlobal.label }}</td>
          </ng-container>

          <!-- CAHT Column -->
          <ng-container matColumnDef="caht">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CA (HT)</th>
            <td mat-cell *matCellDef="let CAGlobal">{{ CAGlobal.caht | number : '1.3-3' }}</td>
          </ng-container>

          <!-- CATTC Column -->
          <ng-container matColumnDef="cattc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CA(TTC)</th>
            <td mat-cell *matCellDef="let CAGlobal">{{ CAGlobal.cattc | number : '1.3-3' }}</td>
          </ng-container>
           <ng-container matColumnDef="qte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantité</th>
            <td mat-cell *matCellDef="let CAGlobal">{{ CAGlobal.qte}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">Aucune recherche ne correspond au filtre</td>
          </tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>

</div>