<div class="row">
    <div class="col-lg-4 col-xxl-3 col-sm-6" *ngFor="let user of users">
        <mat-card
            class="daxa-card team-member-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-subtitle>
                    <button type="button" mat-button class="card-header-menu-btn p-0" [matMenuTriggerFor]="cardHeaderMenu">
                        <i class="material-symbols-outlined">more_horiz</i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <button mat-menu-item>View</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="d-flex align-items-center">
                    <div class="icon position-relative text-center rounded-circle">
                        <!-- Vous pouvez remplacer par un avatar générique si vous n'avez pas d'image -->
                        <img src="assets/images/default-avatar.png" class="rounded-circle" alt="member-image">
                    </div>
                  
                </div>
                <ul class="pl-0 mb-0 list-unstyled">
                    <li>
                        <span class="text-body">Email:</span>
                        {{ user.email }}
                    </li>
                    <li>
                        <span class="text-body">Roles:</span>
                        <span >
                            
                        </span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
